*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
  
}

:root{
  --bg-color: 	#081b29;
  --text-color: 	#7FFFD4;
  --main-color:   #ffffff;
}

body{
  background-color: var(--bg-color);
  font-family: montserrat, sans-serif;
  overflow-x: hidden;
}

/*Navbar*/
nav{
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
}

nav ul{
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-evenly;
}

.logo{
  font-family: "jersey 10";
  font-size: 30px;
}

.logo h3{
  color: var(--main-color);
}

.logo span{
  color: var(--text-color);
}

nav li a{
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: var(--main-color);
}

nav li a:hover, .active{
  color: var(--text-color);
  border-bottom: 3px solid var(--text-color)
}

.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;        
    opacity: 0;
    cursor: pointer;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: var(--main-color);
    border-radius: 3px;
    transition: all 0.5s;
}


.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px ,-1px);
}

.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg);
}

.menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
}

/*hero section*/
.hero{
  margin-top: 200px;
}
.hero-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--main-color);
}
.hero-text h3{
  font-size: 30px;
  margin-bottom: 10px;
}
.hero-text h3 span{
  color: var(--text-color);
}
.hero-text h2{
  font-size: 40px;
  font-weight: 500;
}
.hero-text .buton{
  border: 2px solid var(--text-color);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
  
}
.hero-text .buton:hover{
  color: var(--bg-color);
  box-shadow: 10px 10px 8px var(--text-color);
}

/*about section*/
#about-section{
   margin-top: 300px;
}

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about h1{
  font-size: 20px;
  font-weight: 700;
  color: var(--text-color);
}

.about p{
  color: var(--main-color);
  font-size: 20px;
  margin: 20px 0;
}
.about-text{
  display: flex;
  text-align: flex-start;
  flex-direction: column;
  color: var(--main-color);
  margin-top: 60px;
  margin-left: 100px;
}
.about-text h3{
  margin: 20px;
}
.about-text p{
  width: 50%;
  margin: 10px;
}
.about-text span{
  color: var(--text-color);
}
.about-img img{ 
  width: 200px;
  height: 150px;
  margin-left: 900px;
  margin-top: -200px;
}

/*projects*/
.projects{
  padding: 100px 0;
  background-color: #778899;
  margin-top: 20vh;
}

.projects-text{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  color: var(--main-color);
}

.projects-text p{
  width: 50%;
}

.projects-img{
  display: flex;
}

.projects-img img{
  width: 500px;
  padding: 30px 0 0 100px;
}

.img-1 h3{
  color: var(--main-color);
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0 0 150px;
}

.img-1 p{
  width: 50%;
  color: var(--main-color);
  padding: 20px 0 0 150px;
}

.img-2 h3{
  color: var(--main-color);
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0 0 150px;
}

.img-2 p{
  width: 50%;
  color: var(--main-color);
  padding: 35px 0 0 150px;
}

/* skill */
#skill-section{
  color: white;
}
.skill{
  text-align: center;
  margin-top: 100px;
}
.skill-img{
  display: flex;
}
.icons{
  padding: 20px 80px;
  background-color: #0000ff;
  margin: 20px;
  border-radius: 15px;
}
.icons:hover{
  background-color: red;
   box-shadow: 5px 10px 8px #888888;
}

/* contact */
#contact-section{
  margin-top: 400px;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.container h1 {
  text-align: center;
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.contact-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/*responsive*/
@media screen and (max-width: 768px){
  nav ul{
    width: 50%;
  }

  .hero-img img{
    display: none;
  }
}

@media screen and (max-width: 576px){
  /*navbar*/
   .menu-toggle{
         display: flex;
     }
    nav ul{
        position: absolute;
        right: 0;
        top: 0;
        margin: 25px 20px 0 0;
        height: 50vh;
        box-shadow: 5px 10px 10px var(--main-color);
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        z-index: -1;
        transition: all 1s;
        opacity: 0;
    }
    nav ul.slide{
        opacity: 1;
        transform: translateX(0);
    }

  /*hero section*/
    .hero{
      padding: 25px 0 0 15px;
    }
    .hero-text{
      margin-top: 50px;
    }
    .hero-text h2{
      font-size: 30px; 
      
    }

  /*about hero*/
  .about h1{
    font-size: 30px;
  }
  .about p{
    width: 60%;
    font-size: 15px;
  }
  .about-text{
    margin-left: 30px;
  }
  .about-text p{
    width: 70%;
  }
  
   
  /* project section */
    .projects{
      margin-top: 300px;
    }
    .projects-img{
      display: flex;
      flex-direction: column;
    }
    .projects-img img{
      width: 80%;
      padding: 30px 0 0 40px;
    }
    .img-1 h3{
      padding: 10px 0 0 50px;
    }
    .img-1 p{
      width: 350px;
      padding: 10px 0 0 50px;
    }
    .img-2 h3{
      padding: 10px 0 0 50px;
    }
     .img-2 p{
      width: 350px;
      padding: 10px 0 0 50px;
    }

  /* skill*/
  .skill{
    margin-top: 50px;
  }
  .skill p{
    width: 70%;
    margin-left: 50px;
  }
  .skill-img{
    display: flex;
    flex-direction: column;
  }


    .contact-info {
    width: 100%;
    }
  
}

